@font-face {
  font-family: textFont;
  src: url('fonts/Uni-Neue-Book.woff2') format('woff2');
}
@font-face {
  font-family: textFontHeavy;
  src: url('fonts/Uni-Neue-Heavy.woff2') format('woff2');
}
@font-face {
  font-family: headerFont;
  src: url('fonts/intro-rust-base.otf') format('opentype');
}
body {
  background-color: rgb(255, 245, 222);
  margin: 0;
  padding: 0;
  height: 30vw;
}
h1 {
  color: rgb(42, 100, 101);
  font-family: textFontHeavy;
  text-align: center;
  font-size: 3vw;
  margin-bottom: 0%;
}

h4 {
  color: rgb(42, 100, 101);
  font-family: textFontHeavy;
  text-align: center;
  font-size: 2vw;
  margin-bottom: 0%;
}

h5 {
  color: rgb(255, 245, 222);
  font-family: textFontHeavy;
  font-size: 2vw;
  margin: 0%;
}

p {
  color: rgb(33, 43, 49);
  font-family: textFont;
  font-weight: bold;
  text-align: justify;
  font-size: 1.1vw;
  margin-bottom: 2vw;
}

.topnav {
  background-color: rgb(42, 100, 101);
  overflow: hidden;
  height: 5vw;
  width: 100vw;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1.8vw 2vw;
  text-decoration: none;
  font-size: 1.2vw;
  font-family: textFont;
  font-weight: bold;
}

.topnav a:hover {
  color: rgb(255, 194, 103);
  font-weight: bold;
  font-family: textFontHeavy;
}

.topnavBorder {
  background-color: rgb(231, 147, 22);
  height: 1vw;
  width: 100vw;
}

.logo {
  float: left;
  width: 5vw;
  height: 3vw;
  margin: 1vw;
}

.websiteName {
  color: white;
  font-size: 2vw;
  font-family: headerFont;
  float: right;
  padding: 0.01vw 2.5vw;
}

.message1 {
  text-align: center;
  font-size: 2.5vw;
  margin-top: 0%;
}

.message2 {
  text-align: center;
  font-size: 2vw;
  margin-top: 1vw;
  margin-bottom: 0vw;
}

.message3 {
  text-align: center;
  font-size: 2.5vw;
  margin-top: 1vw;
  margin-bottom: 1vw;
}


.flexContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.introductionBlock, .calculatorBlock, .aboutBlock {
  flex: 1;
  margin: 0 2vw 2vw 2vw;
  width: 30vw;
  height: 45vw;
}

.stepBlock {
  flex: 1;
  margin: 0 3.5vw 3.5vw 3.5vw;
  width: 15vw;
  height: 15vw;
}

.nzKidsOnPhone, .threeKids, .aboutUs {
  width: 25vw;
  border-radius: 2vw;
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0.8vw 0.8vw rgba(231, 147, 22, 0.466);
}

@media (max-width: 1050px) {
  .flexContainer {
    flex-direction: column; 
  }
}

.button {
  background-color: rgb(231, 147, 22);
  font-family: headerFont;
  width: 25vw;
  height: 6vw;
  border-radius: 3vw;
  text-align: center;
  margin: auto;
  line-height: 6vw; 
}

.button a {
  text-decoration: none;
  color: white;
  padding: 1.5vw;
  
}

.button a:hover {
  font-size: 3.2vw;
}

.calculator{
  flex: 0.5;
  width: 50vw;
  height: 50vw;
  background-color: rgb(255, 254, 239);
  display: inline-block;
}

.editableTable {
  width: 50vw;
  height: 30vw;
  border-collapse: collapse;
  overflow: hidden;
  align-items: center;
}

.editableTable th {
  font-family: textFontHeavy;
  font-size: 2vw;
  color: rgb(42, 100, 101);
  padding: 2vw 2vw 0vw 2vw;
}


.editableTable td {
  padding: 0.2vw;
  align-items: center;
}

.editableTable input {
  width: 24.2vw;
  padding: 0.6vw;
  margin: 0.2vw;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  font-size: 1vw;
  font-family: textFontHeavy;
  color: rgb(42, 100, 101);
  background-color: #ffffff;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.computeButton {
  background-color: rgb(231, 147, 22);
  color: white;;
  font-family: headerFont;
  font-size: 2.5vw;;
  width: 15vw;
  height: 4vw;
  border: none;
  border-radius: 2vw;
  text-align: center;
  margin: 1.5vw 0.5vw 0.5vw 16vw;
  line-height: 2vw; 
}

.computeButton:hover {
  font-size: 2.7vw;
}

.totalHoursDisplay {
  margin: 0.5vw 0vw 0vw 12vw;
  font-size: 2vw;
  font-weight: bold;
  color: rgb(42, 100, 101);
}

.activityList {
  flex: 0.5;
  width: 50vw;
  height: 50vw;
  background-color: rgb(255, 254, 239);
  display: block;
}

.activityHeader {
  width: 50vw;
  font-family: textFontHeavy;
  font-size: 3vw;
  color: rgb(42, 100, 101);
  text-align: center;
  margin-bottom: 0.5vw;
  margin-top: 1.5vw;
}

.activitiesHeader {
  color: rgb(42, 100, 101);
  font-family: textFont;
  font-weight: bold;
  font-size: 2vw;
  margin-left: 3vw;
}

footer {
  background-color: rgb(70, 150, 147);
  position: relative;
  left: 0;
  bottom: 0;
  height: 9vw;
  width: 100vw;
  padding: 2vw;
  margin-top: 2vw;
}

.footerInfo {
  display: inline-block;
  width: 40vw;
  margin-left: 5vw;;
}

div.contactInfo {
  width: 30vw;
  height: 2vw;
  margin: 0%;
}

p.contactInfo {
  display: inline-block;
  color: white;
  font-size: 1vw;
  width: 20vw;
  height: 1.8vw;
  text-align: left;
  margin-bottom: 0.5vw;
  margin-top: 0%;
}

.emailIcon, .phoneIcon {
  display: inline-block;
  width: 1.5vw;
  height: 1.5vw;
  margin-right: 0.5vw;
  margin-top: 0.5vw;
  position: relative;
}

p.copyrightInfo {
  color: white;
  font-size: 1vw;
  width: 20vw;
}